<h2>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-link">Link</button>
Welcome to ASP.NET MVC @ViewData["Version"] on @ViewData["Runtime"]!</h2>
